<%= form_for Comment.new do |f| %>
  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">

  <p>
    <%= f.collection_select :user_id, User.all, :id, :username %>
  </p>

  <p>
    <div class="fl"> <%= f.label :content %> </div>
    <%= f.text_area :content %>
  </p>

  <p><%= f.submit %></p>
<% end %>
