<%= form_for @comment do |f| %>
  <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">

  <p>
    <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>
  </p>

  <p>
    <%= f.fields_for :user, @comment.build_user do |u| %>
      <%= u.text_field :username %>
    <% end %>
  </p>

  <p>
    <div class="fl"> <%= f.label :content %> </div>
    <%= f.text_area :content %>
  </p>

  <p><%= f.submit %></p>
<% end %>
