<%= form_for post do |f| %>
  <p>
    <div class="fl"> <%= f.label :title %> </div>
    <%= f.text_field :title %>
  </p>

  <p>
    <div class="fl"> <%= f.label :content %> </div>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </p>

  <p>
    <div class="fl"> New Category </div>
    <%= f.fields_for :categories, post.categories.build do |categories_fields| %>
      <%= categories_fields.text_field :name %>
    <% end %>
  </p>
  <%= f.submit %>
<% end %>
