<h1><%= @post.title %></h1>

<p>
  <%= @post.content %>
</p>

<h3>Categories:</h3>
<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>


<h3>Comments:</h3>
<% @post.comments.each do |comment| %>
  <p>
    <%= comment.comment_string %>
  </p>

<% end %>

<h3>New Comment:</h3>
<%= render 'commentform' %>

<h3>Users:</h3>
<% @post.users.distinct.each do |user| %>
  <p><%= link_to user.username, user_path(user) %></p>
<% end %>
